h1 {
    color: $primary-color;
    font-size: $content-lg;
    font-weight: bold;
  
    margin: 0.5rem 0 0.5rem 0;
  }


  label {
    margin-right: 13rem;
    font-size: $content-sm;
    font-weight: medium;
    color: $primary-color;
  }

  input, 
  select {
    width: 15rem;
    height: 2.2rem;

    border-radius: $br-radius;
    border: 1px solid $primary-color;

    margin-bottom: 1rem;
    padding-left: 0.5rem;
  }


button {
  width: 15.65rem;
  height: 2.5rem;
  background: $primary-color;
  color: $light-gray;

  border-radius: $br-radius;
  border: none;

  font-size: $content-sm;
  font-weight: bold;

  cursor: pointer;

  &:hover {
    filter: brightness(1.2);
    transition: all 0.15s linear;
  }
}

p {
  font-size: $content-sm;
  color: $dark-gray;

  margin-bottom: 4rem;

  a {
    text-decoration: none;
    color: $primary-color;
    cursor: pointer;
  }

  &:hover {
    filter: brightness(1.2);
    transition: all 0.15s linear;
  }

  a:visited {
    text-decoration: none;
  }
}
