
.header {
    background: $primary-color;
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 4rem;

    position: fixed;
    z-index: 10;
    top: 0;
    

        #logo {
        height: 3rem;
        width: auto;
        padding: 0.7rem;
    }
}

